*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    /* box-sizing: inherit; */
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    word-spacing: 5px;
    background-color: white;
    color: black;
    margin: 0px;
    padding: 3rem
}

header {
    background-color: white;
    position:  fixed, relative;
    padding: 3rem;
    text-decoration: none;
}

main.home {
    background-color: black;
    color: white;
    word-spacing: 5px;
    padding: 3rem;

}

h3 {
    /* border-bottom-color: #000;
    border-bottom-style: groove; */
    font: caption;
    font-size: 30px;
}

.about-line{
    width: 66%;
    border: 2px solid black;
}

main.about {
    padding-top: 5rem;
    background-color: white;
    color: black;
    word-spacing: 5px;
    padding: 3rem;
    font-size: 6px;
    max-width: 25ch;
}

.aboutp1 {
    width: 900px;
    padding-top: 5rem;
    padding-left: 8rem;
    padding-right: 35rem;

}

.aboutp2 {
    padding-top: 5rem;
    padding-bottom: 20rem;
    display: block;
    width: 33.33%;
    background-color: white;
    color: black;
    word-spacing: 5px;
    padding-left: 25%;
    align-items: center;
}
.about-right-image-container {
    display: block;
}
.middleanchor {
    margin-right: auto;
    margin-left: auto;
    width: 20rem;
    font-size: medium;
    font: caption;
    font-display: black;
    text-decoration-style: black;
}

.rightside {
    position: absolute;
    top: 00.7rem;
    right: 1rem;
    padding: 3rem;
    font: caption;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 00.7rem;
    left: 1rem;
    font-size: auto;
    padding: 3rem
}

nav li {
    display: inline;
    padding: 00.5rem;
    word-spacing: 3rem;
    font: caption;
}

button {
    position: right;
    list-style-type: none;
    top: 0.7rem;
    right: 1rem;
}

.home {
    background-color: #000;
    margin: 0rem;
}

.home img {
    height: 400px;
    display: block;
    height: auto;
    width: 100%;
}
.gradient{
    align-content: center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #000 100%);
}
.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    color: white;
    inline-size: 200px;
    overflow-wrap: normal;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: -116px;
    font-size: 18px;
    color: white;
    inline-size: 300px;
    overflow-wrap: normal;
}

.image1 {
    float: left;
    padding-top: 5rem;
    width: 18%;
}

.image2 {
    float: right;
    padding-left: 4rem;
    padding-top: 5rem;
    width: 400px;
}

h4 {
    font: caption;
    font-size: 30px;
}

.products {
    padding-top: 15rem;
}

.products-line {
    width: 50%;
    border: 2px solid black;
}

.grid-product {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
    padding-top: 40px;
    margin-left: 20px;
}

.product-image {
    width: 250px;
    align-self: center;

}

.product-card {
    align-items: center;
}

.product-card button {
    background-color: #BF7631;
    font: white caption;
}

.product-card-line {
    width: 75%;
    border: 2px solid black;
}

h5 {
    font: caption;
    font-size: 30px;
}

.contact {
    padding-top: 15rem;
}

.contact-line {
    width: 66%;
    border: 2px solid black;
}

.contact-form {
    padding-top: 5rem;
    padding-bottom: 20rem;
    display: block;
    width: 50%;
    background-color: white;
    color: black;
    word-spacing: 5px;
    padding-left: 25%;
}

.contact-form li {
    list-style-type: none;
    padding: 0.5rem;
    font-size: larger;
    font: caption;
    align-items: center;
}

footer {
    color: #BF7631;
    background-color: #BF7631;
    padding: 3rem;
    display: flex;
    flex-direction: row;

}

footer ul {
    display: inline;

}

footer li {
    display: inline;
}

footer li img {
    height: 30px;
}

.footeranchor {
    margin-right: auto;
    margin-left: auto;
    width: 20rem;
    font-size: medium;
    font: caption;
    font-display: black;
    text-decoration: none;
}

footer a {
    text-decoration: none;

}