*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    word-spacing: 5px;
    background-color: white;
    color: black;
    margin: 0px;
}

header {
    background-color: white;
    position: relative;
    padding: 1rem;
}

main section {
    background-color: black;
    color: white;
    word-spacing: 5px;
}

.middleanchor {
    margin-right: auto;
    margin-left: auto;
    width: 16rem;
    text-size-adjust: 30%;
}

.rightside {
    position: absolute;
    top: 00.7rem;
    right: 1rem;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 00.7rem;
    left: 1rem;
}

nav li {
    display: inline;
    margin-left: 00.5rem;
}

button {
    position: right;
    list-style-type: none;
    top: 0.7rem;
    right: 1rem;
}

.home img {
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    display: block;
    position: relative;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #000 100%);
    height: auto;
    width: 100%;
    content: '';
}

.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}