*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    word-spacing: 50;
    background-color: white;
    color: black;
    margin: 0;
}

header {
    background-color: white;
    position: relative;
    padding: 1rem;
}

main section {
    background-color: black;
    color: white;
    word-spacing: 50;
}

nav a {
    padding: 1rem;
    position: center;
}
nav button {
    position: absolute;
    top: 00.7rem;
    right: 1rem;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 00.7rem;
    left: 1rem;
}

nav li {
    display: inline;
    margin-left: 00.5rem;
}

button {
    position: right;
    list-style-type: none;
    top: 0.7rem;
    right: 1rem;
}

.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}